:root {
    --blue: #C7DDEA;
    --orange: #F07A48;
    --yellow: #FAB130;
    --light-grey: #EBEBEB;
    --grey: #A9A19E;
    --white: #EBEBEB;
    --dark-grey: #767574;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.contact-container{
    min-height: 600px;  
    padding: 2em; 
}

.contact-container h2{
    margin-bottom: 1em;
}
/*---Header---*/

.header-box {
    width: 100%;
    display: flex;
    max-height: 500px;
}

.bg-img {
    background-image: url('../assets/man-baby.png');
    background-size: 230px;
    background-position: right 1em bottom 0;
    display: flex;
    align-items: center;
}

.bg-img h1 {
    max-width: 50%;
}



label {
    color: rgb(233, 233, 233);
}

input:not([type="submit"]), textarea {
    padding: 0.5em;
    width: 100%;
    border: none;
}

::placeholder {
    color: #000;
}

.contact-form {
    position: relative;
    max-width: 500px;
}

.call-to-action {
    position: absolute;
    right: 0;
    margin-top: 2em;
    
}

.page-footer {
    position: relative;
    height: 500px;
    background-color: var(--dark-grey);
    background-image: url('../assets/map.png');
}

.visit-us {
    background-color: var(--yellow);
    width: 80%;
    padding: 1em;
    min-height: 200px;
    color: #fff;
    line-height: 1.5;

    position: absolute;
    top: -100px;
    left: 50%;
    transform: translate(-50%, 0);
}

@media screen and (min-width: 780px) {

    /*---Header---*/
    .bg-img {
        background-size: contain;
    }

    /*--navigation---*/
    .page-nav {
        display: block;
    }

    .nav-list li {
        width: initial;
    }
    
    .contact-container article{
        display: flex;
        justify-content: space-around;
    }

    .page-footer {
        background-image: url("../assets/map.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

  
    .visit-us {
        width: 40%;
        padding: 1em;       
    
        position: absolute;
        top: 2em;
        left: 5em;
        transform: initial;
    }

    

}
